# Frontend Configuration
REACT_APP_API_BASE_URL=http://localhost:8000
REACT_APP_GOLEMDB_CHAIN_ID=31337
REACT_APP_GOLEMDB_RPC_URL=https://rpc.ethwarsaw.dev

# Web3 Configuration
REACT_APP_WALLETCONNECT_PROJECT_ID=your_project_id_here